./BraveSoftware
./Joplin
./Signal
./Typora
./alacritty
./btop
./chromium
./dconf
./environment.d
./fastfetch
./fcitx
./fcitx5
./fontconfig
./gtk-3.0
./ibus
./joplin-desktop
./lazygit
./mako
./mise
./nautilus
./pulse
./qalculate
./swayosd
./systemd
./uwsm
./walker
./xournalpp
./yay
./brave-flags.conf
./chromium-flags.conf
./mimeapps.list
./omarchy.ttf
./starship.toml
./user-dirs.dirs
./user-dirs.locale
